<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.business.mapper.DailyTrainCarriageMapper">

    <resultMap id="BaseResultMap" type="com.lxl.business.domain.DailyTrainCarriage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dailyTrainId" column="daily_train_id" jdbcType="BIGINT"/>
            <result property="trainIndex" column="train_index" jdbcType="INTEGER"/>
            <result property="seatType" column="seat_type" jdbcType="CHAR"/>
            <result property="seatCount" column="seat_count" jdbcType="INTEGER"/>
            <result property="rowCount" column="row_count" jdbcType="INTEGER"/>
            <result property="columnCount" column="column_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`daily_train_id`,`train_index`,
        `seat_type`,`seat_count`,`row_count`,
        `column_count`,`create_time`,`update_time`
    </sql>
    <insert id="insertBatch">
        INSERT INTO `daily_train_carriage`
        (<include refid="Base_Column_List"/>) VALUES
        <foreach collection="list" item="item" separator=",">
            (
             #{item.id},
             #{item.dailyTrainId},
             #{item.trainIndex},
             #{item.seatType},
             #{item.seatCount},
             #{item.rowCount},
             #{item.columnCount},
             #{item.createTime},
             #{item.updateTime}
            )
        </foreach>
    </insert>
</mapper>
