<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.business.mapper.DailyTrainStationMapper">

    <resultMap id="BaseResultMap" type="com.lxl.business.domain.DailyTrainStation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dailyTrainId" column="train_id" jdbcType="BIGINT"/>
            <result property="trainIndex" column="train_index" jdbcType="INTEGER"/>
            <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
            <result property="namePinyin" column="name_pinyin" jdbcType="VARCHAR"/>
            <result property="inTime" column="in_time" jdbcType="TIME"/>
            <result property="outTime" column="out_time" jdbcType="TIME"/>
            <result property="stopTime" column="stop_time" jdbcType="TIME"/>
            <result property="km" column="km" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,daily_train_id,
        train_index,station_name,name_pinyin,
        in_time,out_time,stop_time,
        km,create_time,update_time
    </sql>
    <insert id="insertBatch">
        INSERT INTO daily_train_station
        (<include refid="Base_Column_List"/>)
        VALUES 
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.dailyTrainId},
            #{item.trainIndex},
            #{item.stationName},
            #{item.namePinyin},
            #{item.inTime},
            #{item.outTime},
            #{item.stopTime},
            #{item.km},
            #{item.createTime},
            #{item.updateTime})
        </foreach>
    </insert>
</mapper>
