<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.business.mapper.DailyTrainSeatMapper">

    <resultMap id="BaseResultMap" type="com.lxl.business.domain.DailyTrainSeat">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="dailyTrainId" column="daily_train_id" jdbcType="BIGINT"/>
            <result property="carriageId" column="carriage_id" jdbcType="BIGINT"/>
            <result property="seatType" column="seat_type" jdbcType="CHAR"/>
            <result property="seatRow" column="seat_row" jdbcType="CHAR"/>
            <result property="seatCol" column="seat_col" jdbcType="VARCHAR"/>
            <result property="carriageSeatIndex" column="carriage_seat_index" jdbcType="INTEGER"/>
            <result property="seatSell" column="seat_sell" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,daily_train_id,carriage_id,carriage_index,
        seat_type,seat_row,seat_col,
        carriage_seat_index,seat_sell,create_time,
        update_time
    </sql>
    <insert id="insertBatch">
        INSERT INTO daily_train_seat
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.dailyTrainId},
            #{item.carriageId},
            #{item.carriageIndex},
            #{item.seatType},
            #{item.seatRow},
            #{item.seatCol},
            #{item.carriageSeatIndex},
            #{item.seatSell},
            #{item.createTime},
            #{item.updateTime})
        </foreach>
    </insert>
    <update id="updateBatchSell">
        update daily_train_seat
        set seat_sell = #{seatSell},
            update_time = now()
        where id = #{id}
    </update>
</mapper>
