<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxl.business.mapper.DailyTrainMapper">

    <resultMap id="BaseResultMap" type="com.lxl.business.domain.DailyTrain">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="startDate" column="date" jdbcType="DATE"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="start" column="start" jdbcType="VARCHAR"/>
            <result property="startPinyin" column="start_pinyin" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIME"/>
            <result property="end" column="end" jdbcType="VARCHAR"/>
            <result property="endPinyin" column="end_pinyin" jdbcType="VARCHAR"/>
            <result property="endTime" column="end_time" jdbcType="TIME"/>
            <result property="intervalDay" column="interval_day" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`start_date`,`code`,
        `type`,`start`,`start_pinyin`,
        `start_time`,`end`,`end_pinyin`,
        `end_time`,`interval_day`,`create_time`,
        `update_time`
    </sql>
    <insert id="insertBatch">
        INSERT INTO `daily_train`
        (<include refid="Base_Column_List"/>) VALUES
        <foreach collection="list" separator=","  item="dailyTrain">
            (
            #{dailyTrain.id},
            #{dailyTrain.startDate},
            #{dailyTrain.code},
            #{dailyTrain.type},
            #{dailyTrain.start},
            #{dailyTrain.startPinyin},
            #{dailyTrain.startTime},
            #{dailyTrain.end},
            #{dailyTrain.endPinyin},
            #{dailyTrain.endTime},
            #{dailyTrain.intervalDay},
            #{dailyTrain.createTime},
            #{dailyTrain.updateTime})
        </foreach>
    </insert>
    <select id="selectAimDateTrainIds" resultType="java.lang.Long">
        select `id` from `daily_train` where `start_date` = #{date}
    </select>
</mapper>
